.keySpec_KqJ3Q3GPKv .label_KqJ3Q3GPKv {
    color: #000;
    font-weight: 600;
    padding: 1.25rem 0.625rem 1.25rem 1.8125rem !important;
}
div#tab-specs {
    padding: 2px 0;
}
div#tab-description {
    padding: 2px 0;
}